

/* div {
    border: solid 1px gray;
    margin: -1px;
}

project-cell {
    border: solid 1px gray;
    margin: -1px;
} */

:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 45pt;
}

h2 {
    font-size: 30pt
}

h3 {
    font-size: 20pt;
}

h4 {
    font-size: 15pt;
}

ul {
    margin-top: 5px;
}

li {
    padding-bottom: 6px;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.page-wrapper {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;

    background-color: white;
}

body {
    display: flex;
    justify-content: center;

    background-color: gray;
}

header {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 20px;
    
    background-image: url('background.jpeg');
    background-position: center;
    color: white;
    text-shadow: black 3px 3px 5px;
}


footer {
    height: 200px;

    background-color: black;
}

.portrait-picture {
    display: block;
    width: 200px;
}

.about-me {
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.me-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    gap: 20px;
    min-width: 200px;
}

.project-table {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-table-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.project-cell {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;

    border: 1px gray solid;
    box-shadow: gray 2px 2px 3px;
    transition: box-shadow 100ms, scale 100ms;
}

.project-cell:hover {
    box-shadow: gray 8px 8px 12px;
    scale: 1.01;
    transition: box-shadow 100ms, scale 100ms;
}

.project-cell-image {
    width: 100%;
}

.project-cell-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Deprecated. */
.project-hashtags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}

.project-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}

.hashtag {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightgray;
    border-radius: 7px;
}