
/*
 The main css for the portfolio.
*/

@import url(reset.css);

/* div {
    border: solid 1px gray;
    margin: -1px;
}

project-cell {
    border: solid 1px gray;
    margin: -1px;
} */

:root {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-size: 45pt;
}

h2 {
    font-size: 30pt;
}

h3 {
    font-size: 20pt;
}

h4 {
    font-size: 15pt;
}

p {
    font-size: 13pt;
    line-height: 25px;
    /* font-family: 'Times New Roman', Times, serif; */
}

i {
    font-style: italic;
}

b {
    font-weight: bold;
}

ul {
    /* margin-top: 5px; */
    padding-top: 15px;
    padding-left: 30px;
    list-style: disc;
    list-style-position: outside;
}

ol {
    padding-top: 15px;
    padding-left: 30px;
    list-style: decimal;
    list-style-position: outside;
}

li {
    padding: 5px;
    padding-bottom: 6px;
    font-size: 13pt;
    line-height: 25px;
}

.hidden {
    visibility: hidden;
}

header > a, project-cell > a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.page-wrapper {
    width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 70px;

    background-color: white;
}

.page-content {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

body {
    display: flex;
    justify-content: center;

    background-color: gray;
}

.large-header {
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 20px;
    
    background-image: url('/assets/shared/images/background.jpeg');
    background-position: center;
    color: white;
    text-shadow: black 3px 3px 5px;
}

.small-header {
    display: flex;
    flex-direction: row;
    align-items: end;
    padding: 20px;

    background-image: url('/assets/shared/images/background.jpeg');
    background-position: center;
    color: white;
    text-shadow: black 3px 3px 5px;
}

.small-header h1 {
    font-size: 30pt;
}


portfolio-footer {
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    padding-top: 50px;
    gap: 50px;

    background-color: black;
    color: whitesmoke;
}

portfolio-footer a {
    color: inherit;
}

.copyright {
    position: absolute;
    left: 10px;
    bottom: 5px;

    font-size: 9pt;
    color: lightgray;
}

.portrait-picture {
    width: 200px;
    object-fit: contain;
    border-radius: 50%;
}

.about-me {
    display: flex;
    flex-direction: column;
    /* padding: 50px; */
}

.me-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
    gap: 80px;
    min-width: 200px;
}

.me-bio {
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.project-table {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project-table-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.project-cell {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;

    border: 1px gray solid;
    box-shadow: gray 2px 2px 3px;
    transition: box-shadow 100ms, scale 100ms;
}

.project-cell:hover {
    box-shadow: gray 8px 8px 12px;
    scale: 1.01;
    transition: box-shadow 100ms, scale 100ms;
}

.project-cell-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-cell-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Deprecated. */
.project-hashtags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}

.project-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding: 10px;
}

.hashtag {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: lightgray;
    border-radius: 7px;
}
