
@import url(../project-page-style.css);

.sprite-img {
    width: 100px;
    image-rendering: pixelated;
}

.sprites {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bb-class-diagram {
    width: 100%;
    object-fit: contain;
}

.game-demo-frame {
    width: 100%;
    height: 600px;
}