/*
 Style for the rocket-space-program project page.
*/

.page-content {
    gap: 150px;
}

.game-demo {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.game-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.game-info > h2 {

}

.project-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.project-introduction {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project-image {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.project-section {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.section-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
