@import url(../project-page-style.css);

.project-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.section-info p, li {
    font-family: 'Times New Roman', Times, serif;
}

.project-section {
    flex-direction: column;
    align-items: stretch;
}

.bert-classif {
    align-self: center;
    width: 600px;
    height: auto;
}

.anno-tool {
    align-self: center;
    width: 600px;
    height: auto;
}

.rule {
    align-self: center;
}

.eval-matrices {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.eval-matrices p {
    text-align: center;
    font-size: 11pt;
    padding-top: 10pt;
}

.eval-matrices img {
    width: 300px;
    height: auto;
}

